<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper" style="text-align: center; font-size: 0.9em; color: #828282; padding: 20px 0;">
    <p style="margin: 0;">
      {%- if site.author -%}
        {{ site.author | escape }}
      {%- else -%}
        {{ site.title | escape }}
      {%- endif -%}
      &nbsp; | &nbsp;
      {{- site.description | escape -}}
      &nbsp; | &nbsp;
      Last change: {{ site.time | date: "%Y-%m-%d %H:%M %Z" }}
      &nbsp; | &nbsp;
      Change Set: <a href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}" target="_blank" style="color: inherit; text-decoration: none;"><code>{{ site.github.build_revision | slice: 0, 7 | default: "Local" }}</code></a>
    </p>
  </div>

</footer>
